$background-color: $color-gray;
$background-color-header: $color-dark-gray;

/* ==========  Typography  ========== */
$text-color-primary: unquote("rgba(#{$color-white}, 0.87)") !default;
$text-color-secondary: unquote("rgba(#{$color-black}, 0.87)") !default;

/* ==========  Components  ========== */

//datepicker
$datepicker-color: $background-color;

/* ==========  Standard Buttons  ========== */

// Default button colors.
$button-secondary-color: unquote("rgb(#{$color-white})");
// Colored button colors.
$button-primary-color-alt: unquote("rgb(#{$color-secondary})");
// Ripple color for colored raised buttons.
// Disabled button colors.
$button-primary-color-disabled: #6b6b6b;
//background-color:
$button-secondary-color-disabled: unquote("rgba(#{$color-white}, 0.3)");
//color:
// FAB colors and sizes.
$button-fab-color-alt: unquote("rgb(#{$color-secondary})");

// Icon button colors and sizes.

/* ==========  Icon Toggles  ========== */

/* ==========  Radio Buttons  ========== */

/* ==========  Ripple effect  ========== */

/* ==========  Layout  ========== */

// Drawer
$layout-drawer-bg-color: #202020;
$layout-nav-color: #202020;
$layout-drawer-navigation-link-active-background: unquote("rgba(#{$color-black}, 0.25)");
$layout-drawer-navigation-link-active-color: unquote("rgb(#{$color-primary})");
$layout-nav-color: unquote("rgba(#{$color-black}, 0.25)");
$layout-drawer-navigation-link-icon-color: unquote("rgba(#{$color-white}, 0.56)");
$layout-drawer-header-color: unquote("rgb(#{$color-white})");
$layout-drawer-header-bg-color: unquote("rgba(#{$color-black},0.85)");

// Header
$layout-header-text-color: unquote("rgb(#{$color-primary})");
$layout-header-bg-color: $background-color-header;
$layout-header-name-color: unquote("rgba(#{$color-white}, 0.5)");
$layout-header-icon-hover-color: unquote("rgba(#{$color-black}, 0.3)");

// Tabs

/* ==========  Content Tabs  ========== */

/* ==========  Checkboxes  ========== */
$checkbox-off-color: unquote("rgb(#{$color-white})");
$checkbox-color: unquote("rgb(#{$color-secondary})");

/* ==========  Switches  ========== */

/* ==========  Spinner  ========== */

/* ==========  Text fields  ========== */
$todo-input-text-label-color: unquote("rgba(#{$color-white}, 0.2)");

$input-text-highlight-color: unquote("rgb(#{$color-primary})");
$input-text-bottom-border-color: rgba(255, 255, 255, 0.2);
$input-text-disabled-text-color: rgba(255, 255, 255, 0.6);

/* INPUT GROUP ADDON */

$input-color: $color-gray;
$input-group-addon-bg: $color-smooth-gray;
$input-group-addon-border-color: $color-smoke;

//placeholder color
$todo-input-text-highlight-color: unquote("rgba(#{$color-white}, 0.7)");

//bottom line color

/* ==========  Card  ========== */
$card-background-color: $background-color;
$card-text-color: unquote("rgba(#{$color-white}, 0.8)");
$card-supporting-text-text-color: unquote("rgba(#{$color-white}, 1)");
$card-subtitle-color: unquote("rgba(#{$color-white}, 0.5)");
$card-border-color: unquote("rgba(#{$color-white},0.05)");

$card-title-background-color: $color-dark-gray;
$card-actions-background-color: unquote("rgba(#{$color-white},0.05)");
$card-text-color: unquote("rgba(#{$color-white}, 1)");
$card-link-color: unquote("rgb(#{$color-primary})");
$card-href-color: unquote("rgb(#{$color-primary})");

$card-title-img-color: unquote("rgb(#{$color-white})");
$card-deg-color: unquote("rgba(#{$color-white}, 0.9)");

/* ==========  Sliders ========== */

$range-bg-color: unquote("rgba(#{$color-white}, 0.45)");
$range-color: unquote("rgb(#{$color-secondary})");

/* ========== Progress ========== */
$progress-main-color: unquote("rgb(#{$color-secondary})");
$progress-secondary-color: unquote("rgba(#{$color-white}, 0.4)");

/* ==========  List ========== */
$list-main-text-text-color: unquote("rgb(#{$color-white})");
$list-supporting-text-text-color: unquote("rgba(#{$color-white}, 0.54)");
$list-icon-color: unquote("rgba(#{$color-white}, 0.8)");
$list-icon-hover-color: unquote("rgb(#{$color-primary})");

$list-border-color: unquote("rgba(#{$color-white},0.1)");
$list-item-border: 1px solid $list-border-color;

/* ==========  Item ========== */

// Default Item Colors
$default-item-focus-bg-color: unquote("rgba(#{$color-black}, 0.15)");
$default-item-active-bg-color: unquote("rgba(#{$color-black}, 0.15)");
$default-item-hover-bg-color: unquote("rgba(#{$color-black}, 0.2)");

// Disabled Button Colors

/* ==========  Dropdown menu ========== */
$default-dropdown-bg-color: $background-color;

$dropdown-menu-header-font-color: unquote("rgba(#{$color-white}, 0.8)");
$messages-dropdown-label-text-color: unquote("rgba(#{$color-white}, 0.5)");

/* ==========  Tooltips  ========== */
$tooltip-background-color: #353535;

/* ==========  Footer  ========== */

/* TEXTFIELD */

/* SWITCH */
$switch-off-thumb-color: unquote("rgb(#{$palette-grey-500})");

/* SPINNER */


// Amount of circle the arc takes up.
// Time it takes to expand and contract arc.
// How much the start location of the arc should rotate each time.

/* RADIO */
$radio-off-color: unquote("rgba(#{$color-white}, 0.8)");
$radio-color: unquote("rgba(#{$color-primary}, 0.8)");

/* MENU */

/* LIST */

/* LAYOUT */

/* ICON */

/* ICON TOGGLE */

/* FOOTER */
/*mega-footer*/
/*mini-footer*/

/* CHECKBOX */

/* CARD */
/* Card dimensions */

/* Cover image */

/* BUTTON */

/* ANIMATION */

/* PROGRESS */

/* BADGE */
$badge-background: unquote("rgb(#{$color-primary})");
$badge-color: unquote("rgb(#{$color-white})");

/* SHADOWS */

/* GRID */

/* DATA TABLE */

$data-table-color: unquote("rgb(#{$color-white})");
$data-table-header-color: unquote("rgb(#{$color-white})");
$data-table-divider-color: unquote("rgba(#{$color-white},0.05)");
$data-table-hover-color: unquote("rgba(#{$color-black}, 0.2)");
//$data-table-selection-color: $background-color;

/* TOOLTIP */

//-------------------------------------------------------

/* WIDGETS & COMPONENTS */

/* Trending */
$trending-arrow-up-color: unquote("rgb(#{$color-primary})");
$trending-arrow-down-color: unquote("rgb(#{$color-secondary})");

/* label */

/* charts */
$line-chart-axis-label-color: unquote("rgba(#{$color-white},0.5)");
$line-chart-guideline-color: unquote("rgba(#{$color-white},0.5)");

/* employer form */
$employer-form-color-brighter: rgba(255, 255, 255, 1);
$employer-form-color-darker: rgba(255, 255, 255, 0.6);

$weather-shadow-color: unquote("rgba(#{$color-black}, 0.4)");
$weather-shadow-4px: 4px 4px 4px $weather-shadow-color;

/* row */

/* scroll */
$scrollbar-thumb: #999;
$scrollbar-track: #666;
